<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="org.heliohost.jlslew.deezer" version="1.0.0">
	<name>Deezer</name>
	<description>Cordova Application</description>
	<author email="jlslew@scs.carleton.ca" href="http://jlslew.3owl.com">Jonathan Lee Slew</author>
	<access origin="*"/>
	<preference name="fullscreen" value="true" />
	<preference name="Orientation" value="portrait" />
	<preference name="webviewbounce" value="true" />
</widget>